<!DOCTYPE html>
<html>
  <head>
    <title>Operatr</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://skyway.io/dist/dev/webrtc-shim/adapter.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
